<div class="main">
<h1>뇽이가 사라졌다!</h1>
<br>
<p> 평화롭던 개포동이 혼란에 빠졌다. </p>
<p> 사랑스러운 뇽이가 사라졌다는 것이다.</p>

<p>뇽이를 마지막으로 본 사람은 406번 버스 기사아저씨. 그는 이렇게 말한다.</p>
<p>"은진수라는 마법사가 귀여운 청년을 어디론가 데려가더군. 왠지 수상해 보였어... 아마 저쪽으로 갔을거야."</p>
<p>그가 가르킨 곳은 럭키슈퍼마켓 쪽이었다. 럭키 슈퍼마켓으로 가보자.</p>

<br>
<a href = "/yellow/lucky" style = "text-decoration:none;">
<div class ="button">
  
<p style= "
text-decoration:none;
font-size:15px; font-weight:bold; color:#2377bb;">도착했으면 누르세요.</p>
</div>
</a>
</div>

